html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.caixa {
    /* width: 780px; */
    width: 870px;
    height: 100vh;
    margin: 0px auto;
    border: 3px solid gray;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
    flex-direction: column-reverse;
    /* flex-direction: row; */
    justify-content: center; 
    /* valores: "flex-start", "flex-end"
    "space-between", "space-around", "center" */
    align-items: center;
    /* valores: "stretch"(padrão se não especificado outro),
    "flex-start", "flex-end", "center" */
}

.caixa div {
    padding: 20px;
    background-color: orangered;
    margin: 10px;
    width: 200px;
}