* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    width: 100%;
    /* height: 100vh; */
    border: 2px solid gray;
    background-color: #fff;
    padding: 10px;
    position: fixed;
    z-index: 2;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    padding: 20px;
}

a {
    text-decoration: none;
}

main {
    background-color: #f2f2f2;
    width: 100%;
    position: relative;
    padding: 100px 0 30px;
}

p {
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: justify;
}

footer {
    text-align: center;
    width: 100%;
    border: 2px solid gray;
    padding: 20px;
    position: relative;
    /* Os atributos top/bottom/left/right */
    /* Apenas terão efeito se "position: ..." estiver definido */
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

img {
    /* position: absolute; */
    /* top: 0px; */
}

img.chat {
    width: 100px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    z-index: 2;
}

img.banner {
    margin: 0 auto;
    text-align: center;
    display: block;
    max-width: 100%; /* Imagem com largura responsiva */
    width: 900px;
    /* height: 100vw; */
}

/* position: relative - Pequenas compensações e sobreposições */
/* position: absolute - Posicione os elementos absolutamente 
em relação aos lados do corpo */
/* position: fixed - Corrija um elemento e o acompanhe ao rolar */
/* "relative" + "absolute" - O elemento com position absolute toma
como referência as arestas de seu contêiner pai e não o body */